@charset "UTF-8";
::-moz-selection { /* Code for Firefox */
  color: #0d0d0d;
  background: #FF774A;
}

::selection {
  color: #0d0d0d;
  background: #FF774A;
}

* {
  font-size: 15px;
  transition: all 0.2s ease-out;
  font-family: "Raleway", sans-serif;
  color: #0d0d0d;
}
* li {
  list-style: none;
}
* ol, * ul {
  padding-left: 0;
}

body {
  background-color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 50px;
  background: rgba(13, 13, 13, 0.12);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(13, 13, 13, 0.1);
  border-radius: 50px;
  border: 1px solid rgba(13, 13, 13, 0.15);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(13, 13, 13, 0.18);
}

.bg__primary {
  background-color: #FF774A;
  color: #0d0d0d;
}
.bg__primary * {
  color: #0d0d0d;
}
.bg__grey {
  background-color: #f5f5f5;
  color: #0d0d0d;
}
.bg__grey * {
  color: #0d0d0d;
}

.corpo__02 {
  /*INICIO*/
  /*CARACTERÍSTICAS*/
  /*MIDIAS DO IMÓVEIS*/
  /*PONTOS DE INTERESSE*/
  /*SEÇÃO CONTATO BLOCO*/
}
.corpo__02 [class*=secao] {
  padding-top: 72px;
  padding-bottom: 72px;
}
@media (max-width: 992px) {
  .corpo__02 .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}
.corpo__02 a {
  border-bottom: 1px solid #FF774A;
  color: #FF774A;
  font-weight: bold;
}
.corpo__02 a * {
  margin-bottom: 0;
  color: #FF774A;
}
.corpo__02 a:hover {
  color: #FF774A;
}
.corpo__02 .header__02 {
  padding-top: 40px !important;
  padding-bottom: 16px;
  border: none !important;
}
.corpo__02 .header__acoes-inline {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 24px;
}
.corpo__02 .titulo__principal, .corpo__02 .titulo__outros {
  font-weight: bold;
}
.corpo__02 .titulo__tarja {
  text-transform: uppercase;
  color: #FF774A;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 14px;
  display: block;
}
.corpo__02 .titulo__principal {
  font-size: 40px;
  margin-bottom: 40px;
}
.corpo__02 .titulo__outros {
  font-size: 32px;
  text-align: center;
  margin-bottom: 32px;
}
.corpo__02 .titulo__subtitulo {
  font-size: 18px;
  opacity: 0.7;
  margin-bottom: 24px;
}
.corpo__02 .btn__primary {
  border-radius: 50px;
  text-transform: uppercase;
  padding: 16px 32px;
}
.corpo__02 .inicio__valor {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 34px;
}
.corpo__02 .inicio__valor p {
  font-size: 18px;
}
.corpo__02 .inicio__valor strong {
  color: #FF774A;
  font-size: 20px;
}
.corpo__02 .imagem__principal__wrapper {
  position: relative;
  text-align: center;
}
.corpo__02 .imagem__principal__wrapper:after {
  content: "";
  width: 100%;
  height: 80%;
  display: block;
  position: absolute;
  background-color: rgba(255, 119, 74, 0.05);
  border-radius: 12px;
  top: 40px;
  right: -40px;
  z-index: -1;
}
.corpo__02 .imagem__principal__wrapper img {
  border-radius: 12px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}
.corpo__02 .chamada__midia {
  justify-content: center;
  margin-top: 64px;
  position: relative;
}
.corpo__02 .chamada__pontos-de-interesse {
  margin-top: 80px;
}
.corpo__02 .chamada__pontos-de-interesse [class*=col-] {
  position: relative;
}
.corpo__02 .chamada__pontos-de-interesse hr {
  width: 200%;
  position: absolute;
  left: -100%;
  opacity: 1;
  background: #0d0d0d;
}
.corpo__02 .chamada__pontos-de-interesse figure {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 56px;
}
.corpo__02 .chamada__pontos-de-interesse figure > i {
  font-size: 56px;
}
.corpo__02 .chamada__pontos-de-interesse figure figcaption {
  text-align: right;
}
.corpo__02 .chamada__pontos-de-interesse figure figcaption h2 {
  text-align: right;
  margin-bottom: 8px;
}
.corpo__02 .chamada__pontos-de-interesse figure figcaption a {
  color: #FF774A;
}
.corpo__02 .caracteristicas__icones {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
  grid-template-columns: auto;
  justify-content: end;
}
.corpo__02 .caracteristicas__icones [class*=__titulo] {
  min-width: 300px;
}
.corpo__02 .caracteristicas__icones [class*=__titulo] [class*=__flexbox] {
  height: 100%;
  align-items: center;
  gap: 32px;
}
.corpo__02 .caracteristicas__icones [class*=__titulo] [class*=__flexbox] i {
  font-size: 64px;
  color: #FF774A;
}
.corpo__02 .caracteristicas__icones [class*=__titulo] [class*=__flexbox] figcaption p {
  font-size: 16px;
  opacity: 0.6;
  margin-bottom: 8px;
}
.corpo__02 .caracteristicas__icones [class*=__titulo] [class*=__flexbox] figcaption h3 {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 0;
}
.corpo__02 .caracteristicas__icones [class*=__item] {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(13, 13, 13, 0.09);
  border-radius: 12px;
  padding: 32px;
}
.corpo__02 .caracteristicas__icones [class*=__item].ver_mais {
  background: rgba(255, 119, 74, 0.05);
  border: 1px solid #FF774A;
  cursor: pointer;
}
.corpo__02 .caracteristicas__icones [class*=__item].ver_mais i {
  color: #FF774A !important;
}
.corpo__02 .caracteristicas__icones [class*=__item] [class*=__flexbox] {
  flex-direction: column;
  align-items: end;
  gap: 64px;
}
.corpo__02 .caracteristicas__icones [class*=__item] [class*=__flexbox] [class*=__icon] {
  font-size: 32px;
  color: #0d0d0d;
}
.corpo__02 .caracteristicas__icones [class*=__item] [class*=__flexbox] figcaption * {
  font-size: 18px;
  font-weight: bold;
  color: #0d0d0d;
  text-align: right;
}
.corpo__02 .info__secao {
  margin-top: 110px;
}
.corpo__02 .acordiao__secao {
  padding-bottom: 0;
}
@media (min-width: 767px) {
  .corpo__02 .acordiao__secao {
    margin-top: -224px;
  }
}
.corpo__02 .acordiao__secao [class*=__maisinfo] {
  color: #0d0d0d;
}
@media (min-width: 992px) {
  .corpo__02 .acordiao__secao [class*=__maisinfo] {
    display: flex;
    height: 100%;
    justify-content: end;
    gap: 16px;
  }
}
.corpo__02 .acordiao__secao [class*=__maisinfo] .accordion-item {
  padding: 40px 32px;
  background: #fff;
  border: 1px solid #FF774A;
  border-radius: 12px;
  position: relative;
  min-height: 350px;
}
.corpo__02 .acordiao__secao [class*=__maisinfo] .accordion-item:last-child {
  border-bottom: none;
}
.corpo__02 .acordiao__secao [class*=__maisinfo] .accordion-item .breve-descricao {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 767px) {
  .corpo__02 .acordiao__secao [class*=__maisinfo] .accordion-item .breve-descricao {
    position: absolute;
    bottom: 32px;
  }
}
.corpo__02 .acordiao__secao [class*=__maisinfo] .accordion-item .breve-descricao::before {
  font-family: "Font Awesome 5 Free";
  content: "\f067";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  background-image: none;
  color: #0d0d0d;
  font-size: 24px;
}
.corpo__02 .acordiao__secao [class*=__maisinfo] .accordion-button {
  padding-left: 0;
  font-weight: 700;
  font-size: 20px;
  min-width: 140px;
  position: unset;
  max-width: 140px;
}
.corpo__02 .acordiao__secao [class*=__maisinfo] .accordion-button:not(.collapsed) p {
  opacity: 0;
  width: 0;
  font-size: 0;
  margin: 0;
}
.corpo__02 .secao__midias .tabs__center [class*=__conteudo] img {
  border-radius: 12px;
  overflow: hidden;
}
.corpo__02 .condominio__bloco {
  margin-top: 110px;
  margin-bottom: 24px;
  position: relative;
}
.corpo__02 .condominio__bloco:before {
  content: "";
  width: 75%;
  height: 95%;
  background-color: #fff;
  border: 1px solid #FF774A;
  border-radius: 12px;
  display: block;
  position: absolute;
  right: 0;
  top: -64px;
}
.corpo__02 .condominio__main, .corpo__02 .condominio__cta {
  position: relative;
  z-index: 1;
}
.corpo__02 .condominio__main figure [class*=__imagem] img {
  border-radius: 12px;
  overflow: hidden;
}
.corpo__02 .condominio__main figure figcaption {
  padding-right: 88px;
}
.corpo__02 .condominio__main figure figcaption [class*=__descricao] a {
  color: #FF774A !important;
}
.corpo__02 .condominio__cta {
  padding-top: 80px;
  justify-content: space-between;
  width: 75%;
  float: right;
}
.corpo__02 .pontos_de_interesse__bloco {
  border: 1px solid rgba(13, 13, 13, 0.09);
  border-radius: 12px;
  padding: 40px 64px;
  margin: 40px auto;
  position: relative;
  background-color: #fff;
}
.corpo__02 .pontos_de_interesse__bloco * {
  position: relative;
}
.corpo__02 .pontos_de_interesse__bloco:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: rgba(255, 119, 74, 0.05);
  border-radius: 12px;
  top: 40px;
  right: -40px;
  z-index: -1;
}
.corpo__02 #destaque__02 figure .destaque__imagem_wrapper [class*=__tarja] {
  border-radius: 3px;
}
.corpo__02 .contato__bloco {
  background: #fff;
  border: 1px solid #FF774A;
  border-radius: 24px;
  position: relative;
  padding: 48px;
  margin: 0 auto;
  max-width: 75%;
}
.corpo__02 .contato__bloco:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: rgba(255, 119, 74, 0.05);
  border-radius: 12px;
  top: 40px;
  left: -40px;
  z-index: -1;
}
.corpo__02 .contato__bloco .filial__componente [class*=__item] {
  margin-bottom: 24px;
}
.corpo__02 .contato__bloco .filial__componente [class*=__item] [class*=__nome] {
  opacity: 0.6;
  font-size: 12px;
}
.corpo__02 .contato__bloco .filial__componente [class*=__item] [class*=__dados] {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.corpo__02 .contato__bloco .filial__componente [class*=__item] [class*=__dados] a, .corpo__02 .contato__bloco .filial__componente [class*=__item] [class*=__dados] p {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.corpo__02 .contato__bloco .filial__componente [class*=__item] [class*=__dados] a *, .corpo__02 .contato__bloco .filial__componente [class*=__item] [class*=__dados] p * {
  opacity: 1;
}
.corpo__02 .corretor__componente {
  border-top: 1px solid rgba(13, 13, 13, 0.09);
  margin-top: 32px;
  padding-top: 24px;
}
.corpo__02 .corretor__componente [class*=__flexbox] {
  position: relative;
}
.corpo__02 .corretor__componente [class*=__flexbox] img {
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 100%;
}
.corpo__02 .corretor__componente [class*=__flexbox] figcaption [class*=__nome] {
  font-size: 16px;
  font-weight: bold;
  color: #0d0d0d;
}
.corpo__02 .corretor__componente [class*=__flexbox] figcaption [class*=__creci] {
  font-weight: bold;
}
.corpo__02 .corretor__componente [class*=__flexbox] figcaption [class*=__dados] {
  display: none;
}
.corpo__02 .corretor__componente [class*=__flexbox] figcaption [class*=__ver_perfil] {
  position: absolute;
  right: 0;
  text-transform: none;
  font-size: 14px;
}
.corpo__02 .corretor__ver_perfil {
  text-transform: uppercase;
}
.corpo__02 .form-floating .form-control {
  border-radius: 5px;
  border: 2px solid rgba(13, 13, 13, 0.3);
  background-color: transparent;
}
.corpo__02 .form-floating .form-control:focus {
  border: 2px solid #FF774A;
  box-shadow: none;
}
.corpo__02 .form-floating.error > .form-control {
  border: 2px solid #CB0000;
}
.corpo__02 .form-check-input {
  border-radius: 5px !important;
}
@media (max-width: 992px) {
  .corpo__02 .secao__contato {
    padding-bottom: 70px !important;
  }
}/*# sourceMappingURL=modelo.css.map */